@model IEnumerable<UMSDemo.Models.Student>


@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null)          // if user is not logged in ....blocking unauthorized request
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2 class="text-center success">Hostel Details</h2>


<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hostel)
        </th>
        <th>
            Room Type
        </th>
        <th>
            Attached Bathroom
        </th>

    </tr>

    @foreach (var item in Model)
    {
         <tr>
              <td>
                    @Html.DisplayFor(modelItem => item.Name)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.RegistrationNumber)
              </td>
              <td>
                     @Html.DisplayFor(modelItem => item.Hostel)
              </td>
              <td>
                      @Html.DisplayFor(modelItem => item.Hostel1.RoomType)
              </td>
              <td>
                       @Html.DisplayFor(modelItem => item.Hostel1.AttachedBathroom)
              </td>
         



          </tr>
    }

</table>
<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>
